<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
	<div id="footer-wrap">
		<div class="footer-1">
			<div class="footer-11">
				<h1><a th:href="@{/}">라라마켓</a></h1>
			</div>
			<div class="footer-12">
				<p>| 상호명 : 라라마켓</p>
				<p>| 사업자등록번호 : 000-00-00000</p>
			</div>
			<div class="footer-13">
				<p>| 대표자 : 홍길동</p>
				<p>| 통신판매업신고번호 : 0000-서울 서초-0000</p>
				<p>| 개인정보관리책임자 : 임꺽정</p>
			</div>
		</div>
		<div class="footer-2">
			<p>| 주소 : (00000) 서울시 서초구 00000 00</p>
			<p>| TEL 070-000-0000 | FAX (02)000-0000 | E-mail: lala@lalamarket.co.kr</p>
			<p>Copyright 2017 라라마켓 Corp. All Rights Reserved.</p>
		</div>
	</div>
</body>
</th:block>