@charset "UTF-8";
#main-wrap {
	margin-top: 5px;
}
#main-wrap h4 {
	font-weight: bold;
	margin-bottom: 5px;
}
#main-wrap > aside {
	float: left;
	width: 14%;
	border: 1px solid black;
	padding: 5px;
}
#main-wrap > aside ul {
	line-height: 1.4;
}
#main-wrap > aside li {
	list-style-type: disc;
	list-style-position: inside;
}
#main-wrap > aside a {
	font-size: 0.9em;
	font-size: 0.9rem;
	margin-left: -10px;
}
#main-wrap > section {
	float: right;
	width: 83%;
	padding: 5px;
	margin-left: 5px;
}
#main-wrap > section > p {
	margin-bottom: 10px;
	font-size: 0.9em;
	font-size: 0.9rem;
}
#main-wrap > section > h2 {
	font-weight: bold;
	font-size: 1.1em;
	font-size: 1.1rem;
}
#main-wrap > section > h3 {
	font-weight: bold;
	font-size: 1.0em;
	font-size: 1.0rem;
	margin-top: 15px;
}
form > div {
	margin-top: 20px;
}
#main-wrap > section ul {
	display: flex;
	flex-flow: row nowrap;
	padding-left: 20px;
	border-bottom: 1px solid black;
}
#main-wrap > section ul li {
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px 20px;
}
#main-wrap > section ul li:last-child {
	border-right: 1px solid black;
}
#main-wrap > section tr {
	border-bottom: 1px solid black;
}
#main-wrap > section tr.title {
	border-top: 1px solid black;
	background-color: #eeeeee;
}
#main-wrap > section td, th {
	padding: 5px;
}
#main-wrap > section td.center {
	text-align: center;
}
#mdArea {
	width: 100%;
	height: 394px;
}
#mdArea table {
	width: 100%;
	table-layout: fixed;
}
.infoClass {
	margin-top:20px;
	padding: 5px;
	border: 1px dotted black;
}